@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply max-w-6xl mx-auto px-8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-[#fffdd0] tracking-[0.2em] uppercase;
	font-family: "Alegreya Sans SC", sans-serif;
}

p, a {
	@apply text-[#fffdd0] tracking-[0.06em];
	font-family: "Alegreya Sans", sans-serif;
}

/* Body */
body {
	color: #e4e4e4;
	line-height: 1.6;
	background: #000000;
	margin: 0;
}

/* Header */
header {
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20vh;
	background: linear-gradient(to bottom,
			rgba(102, 102, 102, 0.85),
			#000000);
	height: 80svh;
	display: flex;
	flex-direction: column;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact-info {
	font-size: 14px;
}

.contact-info p {
	margin: 5px 0;
}